
.forgetpass-container {
    width: 45%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
    flex-direction: column;
}

.forgetpass-1 {
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgetpass-1 a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgetpass-1 img {
    width: 80%;
}

/* Update the overall container styles */
.forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    background-color: #f3f4f6;
}

/* Style the form container */
.forgot-password-form {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(142, 137, 137, 0.736);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

/* Style the form header */
.forgot-password-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

/* Style the form inputs */
.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
    color: #333;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Style the submit button */
button[type="submit"] {
    background-color: #2d4a71;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #3c69a4;
}

.success-message, .error-message {
    font-size: 16px;
    margin-top: 10px;
    color: #28a745; /* Success message color */
}

.error-message {
    color: #dc3545; /* Error message color */
}

/* Style the "Back to Login" link */
.forgot-password-form a {
    display: block;
    margin-top: 20px;
    font-size: 16px;
    color: #2d4a71;
    text-decoration: none;
}

.forgot-password-form a:hover {
    color: #2b5790;
}
