/* main div container */

.AudioClassificationCompMain {
  flex: 1;
  min-height: 35vh;
  border: 1px solid rgb(188, 188, 188);
  border-radius: 20px;
  background-color: white;
  margin: 22px 30px 15px 20px;
  padding: 20px;
}

/* Audio Upload Section */

.audio-upload-container {
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  max-width: 800px;
  min-width: 800px;
  margin: 0 auto;
}

.audio-upload-container h4 {
  font-size: 24px;
  color: grey;
  margin-bottom: 20px;
  font-weight: 900;
}

.custom-file {
  margin-bottom: 20px;
}

.custom-file-label {
  background-color: #538aab;
  color: #fff;
  border-radius: 5px;
  font-weight: 900;
  padding: 10px 20px;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.custom-file-label:hover {
  border-color: rgb(4, 58, 115);
}

.custom-file-input {
  display: none;
}

.button-wrapper {
  display: flex;
  justify-content: center;
}

.button-chooseen {
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 900;
  transition: background-color 0.3s, color 0.3s;
}

/* Classification Results  */

.AudioClassificationResult {
  flex: 1;
  display: flex;
  justify-content: space-between;
  min-height: 35vh;
  border: 1px solid rgb(188, 188, 188);
  border-radius: 20px;
  background-color: white;
  margin: 22px 30px 15px 20px;
  padding: 20px;
  min-width: 90vh;
}

.audioClassificationResultHead {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.audioClassificationResultHeadFirst {
  width: 90%;
  margin: 20px;

}

.classificationResultHeading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold ;
  font-size: 25px;
  margin: 20px;
}

.classificationResultResult {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;

}

.classificationResultText {
  margin: 20px;
  border: 1px solid rgb(188, 188, 188);
  border-radius: 20px;
  padding: 20px;
  width: 100%;
  min-height: 250px;
}


/* Plotly Charts */

.audioClassificationCharts {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.audioClassificationChartsSection {
  border: 1px solid rgb(188, 188, 188);
  border-radius: 20px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}

.classificationResultHeadingCharts {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold ;
  font-size: 25px;
  margin: 20px;
}


.audioClassificationMainPythonCharts {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column ;
}

.audioClassificationMainPythonCharts-div1 {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(188, 188, 188);
  border-radius: 20px;
  flex-direction: column ;
  margin: 20px;
}

.audioClassificationMainPythonCharts-div2 {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(188, 188, 188);
  border-radius: 20px;
  flex-direction: column ;
  margin: 20px;
}

.audioClassificationMainPythonCharts-div3 {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(188, 188, 188);
  border-radius: 20px;
  flex-direction: column ;
  margin: 20px;
}

.classificationResultHeadingPythonCharts {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold ;
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: -20px;
}

.audioClassificationMainPythonChartsMelspec {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  min-height: 300px;
  width: 100%;
}

.audioClassificationMainPythonChartsMelspec1 {
  width: 55%;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.audioClassificationMainPythonChartsMelspec2 {
  width: 35%;
  min-height: 100px;
  padding: 15px;
  border: 1px solid rgb(188, 188, 188);
  border-radius: 20px;
  font-size: 18px;
}

.loadingScreen {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}





