/* main div container */

.AudioClassificationCompMain {
  flex: 1;
  min-height: 35vh;
  border: 1px solid rgb(188, 188, 188);
  border-radius: 20px;
  background-color: white;
  margin: 22px 30px 15px 20px;
  padding: 20px;
  border: 3px solid rgb(17, 255, 0);
}





/* Audio Upload Section */

.audio-upload-container {
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  max-width: 800px;
  min-width: 800px;
  margin: 0 auto;
}

.audio-upload-container h4 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.custom-file {
  margin-bottom: 20px;
}

.custom-file-label {
  background-color: #007bff;
  color: #fff;
  border: 2px solid #007bff;
  border-radius: 5px;
  padding: 10px 20px;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.custom-file-label:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.custom-file-input {
  display: none;
}

.button-wrapper {
  display: flex;
  justify-content: center;
}

.button-choose {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-choose:hover {
  background-color: #c7d1dc;
}

/* Classification Results  */

.AudioClassificationResult {
  flex: 1;
  display: flex;
  justify-content: space-between;
  min-height: 35vh;
  border: 1px solid rgb(188, 188, 188);
  border-radius: 20px;
  background-color: white;
  margin: 22px 30px 15px 20px;
  padding: 20px;
  border: 3px solid red;
  min-width: 90vh;
}

.audioClassificationResultHead {
  border: 3px solid rgb(43, 0, 255);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.audioClassificationResultHeadFirst {
  border: 3px solid rgb(39, 174, 223);
  width: 80%;
  margin: 20px;

}

.classificationResultHeading-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold ;
  font-size: 25px;
  margin: 20px;
}

.classificationResultHeading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold ;
  font-size: 20px;
  margin: 20px;
}

.classificationResultText {
  margin-bottom: 20px;
  border: 3px solid pink;
}
