.widgett {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    min-height: 32vh;
    border: 1px solid rgb(188, 188, 188);
    border-radius: 20px;
    background-color: white;
    margin: 22px 30px 15px 20px;
    margin-bottom: 20px;
}

.headingg {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-size: 25px;
    font-weight: 800;
}

.history {
    margin-bottom: 20px;
}

.button-wrapperr {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 50px;

}

.button-chooseenn {
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 900;
    transition: background-color 0.3s, color 0.3s;
}