

.mainFooter {
    background-color: #27374d;
    color: rgb(255, 255, 255);
}

.fotterAside {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 10px;
}

.fotterAside img {
    width: 140px;
    height: 80px;
}